*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

.content-container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 1120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Exo2;
  font-display: swap;
  src: url("../fonts/Exo2-Bold.woff2") format("woff2"), url("../fonts/Exo2-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Exo2;
  font-display: swap;
  src: url("../fonts/Exo2-Light.woff2") format("woff2"), url("../fonts/Exo2-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Exo2;
  font-display: swap;
  src: url("../fonts/Exo2-Black.woff2") format("woff2"), url("../fonts/Exo2-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Exo2;
  font-display: swap;
  src: url("../fonts/Exo2-Thin.woff2") format("woff2"), url("../fonts/Exo2-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Trebuchet;
  font-display: swap;
  src: url("../fonts/Trebuchet-BoldItalic.woff2") format("woff2"), url("../fonts/Trebuchet-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Exo2;
  font-display: swap;
  src: url("../fonts/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo2-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: TrebuchetMS;
  font-display: swap;
  src: url("../fonts/TrebuchetMS-Bold.woff2") format("woff2"), url("../fonts/TrebuchetMS-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Exo2;
  font-display: swap;
  src: url("../fonts/Exo2-ExtraLight.woff2") format("woff2"), url("../fonts/Exo2-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: TrebuchetMS;
  font-display: swap;
  src: url("../fonts/TrebuchetMS.woff2") format("woff2"), url("../fonts/TrebuchetMS.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: TrebuchetMS;
  font-display: swap;
  src: url("../fonts/TrebuchetMS-Italic.woff2") format("woff2"), url("../fonts/TrebuchetMS-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.no-webp body {
  background: #FFF url(../img/home/background-image/main-img.jpg); }

body::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(49.88%, rgba(0, 0, 0, 0.00005)), to(rgba(0, 0, 0, 0.5)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.00005) 49.88%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.00005) 49.88%, rgba(0, 0, 0, 0.5) 100%);
}

.card-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 36px;
}

.mobile-menu {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.mobile-menu span {
  height: 4px;
  width: 30px;
  background-color: #000000;
  border-radius: 20px;
  position: absolute;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-delay: 0.25s;
       -o-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.mobile-menu span::before {
  left: 0;
  position: absolute;
  top: -9px;
  height: 4px;
  width: 30px;
  background-color: #000000;
  content: "";
  border-radius: 20px;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition: top 0.25s 0.25s, -webkit-transform 0.25s;
  transition: top 0.25s 0.25s, -webkit-transform 0.25s;
  -o-transition: transform 0.25s, top 0.25s 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s, -webkit-transform 0.25s;
}

.mobile-menu span::after {
  left: 0;
  position: absolute;
  top: 9px;
  height: 4px;
  width: 30px;
  background-color: #000000;
  content: "";
  border-radius: 20px;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition: top 0.25s 0.25s, -webkit-transform 0.25s;
  transition: top 0.25s 0.25s, -webkit-transform 0.25s;
  -o-transition: transform 0.25s, top 0.25s 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s, -webkit-transform 0.25s;
}

.mobile-menu.active span {
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-delay: 0.25s;
       -o-transition-delay: 0.25s;
          transition-delay: 0.25s;
  background: transparent;
}

.mobile-menu.active span::before {
  -webkit-transition: top 0.25s, -webkit-transform 0.25s 0.25s;
  transition: top 0.25s, -webkit-transform 0.25s 0.25s;
  -o-transition: top 0.25s, transform 0.25s 0.25s;
  transition: top 0.25s, transform 0.25s 0.25s;
  transition: top 0.25s, transform 0.25s 0.25s, -webkit-transform 0.25s 0.25s;
  top: 0px;
  -webkit-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotateZ(-45deg);
}

.mobile-menu.active span::after {
  -webkit-transition: top 0.4s, -webkit-transform 0.25s 0.25s;
  transition: top 0.4s, -webkit-transform 0.25s 0.25s;
  -o-transition: top 0.4s, transform 0.25s 0.25s;
  transition: top 0.4s, transform 0.25s 0.25s;
  transition: top 0.4s, transform 0.25s 0.25s, -webkit-transform 0.25s 0.25s;
  top: 0px;
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
}

.title {
  font-family: "Exo2";
  font-size: 36px;
  line-height: 44px;
  font-weight: 200;
  text-align: center;
  text-shadow: 0px 1px 1px #000000;
  padding-top: 36px;
  margin: 0px auto 24px auto;
  color: #fff;
}

.card-cats {
  width: 320px;
  min-height: 480px;
  position: relative;
  cursor: pointer;
}

.card-cats__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-cats__triangle {
  width: 14.1%;
  background: -o-linear-gradient(135deg, #f2f2f2, #f2f2f2 28.2px, #1698D9 0, #1698D9 32px, transparent 0);
  background: linear-gradient(-45deg, #f2f2f2, #f2f2f2 28.2px, #1698D9 0, #1698D9 32px, transparent 0);
}

.card-cats__slogan {
  width: 88%;
  padding-top: 21px;
  font-weight: 400;
  padding: 21px 0px 0px 11px;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  background-color: #F2F2F2;
  border-top: 4px solid #1698D9;
  border-right: 4px solid #1698D9;
  border-radius: 0px 12px 0px 0px;
}

.card-cats__main {
  background-color: rgb(242, 242, 242);
  padding: 5px 48px 280px;
  border-radius: 0px 0px 12px 12px;
  border: 4px solid #1698d9;
  border-top: none;
  position: relative;
  overflow: hidden;
  margin-bottom: 14px;
}

.card-cats__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.card-cats__subtitile {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 15px;
}

.card-cats__properti {
  font-size: 14px;
  line-height: 16px;
  min-height: 48px;
}

.card-cats__image-cat {
  position: absolute;
  left: -28px;
  top: 164px;
}

.card-cats__image-circle {
  background-color: #1698D9;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 221px;
  top: 339px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-cats__image-circle-top {
  font-size: 42px;
  line-height: 41px;
  color: #FFFFFF;
}

.card-cats__image-circle-bottom {
  font-size: 21px;
  line-height: 17px;
  color: #FFFFFF;
}

.card-cats__bottom {
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-cats__bottom-btn {
  color: #1698d9;
}

.card-cats__bottom-btn-link {
  text-decoration: none;
  border-bottom: 1px dashed currentColor;
  color: inherit;
}

.colorPink {
  color: #D91667;
}

.no-show {
  display: none;
}

.data-color-default:hover .card-cats__slogan {
  border-color: #2EA8E6;
}

.data-color-default:hover .card-cats__triangle {
  background: -o-linear-gradient(135deg, #f2f2f2, #f2f2f2 28.2px, #2EA8E6 0, #2EA8E6 32px, transparent 0);
  background: linear-gradient(-45deg, #f2f2f2, #f2f2f2 28.2px, #2EA8E6 0, #2EA8E6 32px, transparent 0);
}

.data-color-default:hover .card-cats__main {
  border-color: #2EA8E6;
}

.data-color-default:hover .card-cats__image-circle {
  background-color: #2EA8E6;
}

.data-color-active:hover .colorPinkDefault {
  color: #E52E7A;
}

.data-color-active:hover .card-cats__slogan {
  border-color: #E52E7A;
}

.data-color-active:hover .card-cats__triangle {
  background: -o-linear-gradient(135deg, #f2f2f2, #f2f2f2 28.2px, #E52E7A 0, #E52E7A 32px, transparent 0);
  background: linear-gradient(-45deg, #f2f2f2, #f2f2f2 28.2px, #E52E7A 0, #E52E7A 32px, transparent 0);
}

.data-color-active:hover .card-cats__main {
  border-color: #E52E7A;
}

.data-color-active:hover .card-cats__image-circle {
  background-color: #E52E7A;
}

.data-color-active .card-cats__slogan {
  border-color: #D91667;
}

.data-color-active .card-cats__triangle {
  background: -o-linear-gradient(135deg, #f2f2f2, #f2f2f2 28.2px, #D91667 0, #D91667 32px, transparent 0);
  background: linear-gradient(-45deg, #f2f2f2, #f2f2f2 28.2px, #D91667 0, #D91667 32px, transparent 0);
}

.data-color-active .card-cats__main {
  border-color: #D91667;
}

.data-color-active .card-cats__image-circle {
  background-color: #D91667;
}

.disabled .card-cats {
  color: hsla(0deg, 0%, 70%, 0.5);
  cursor: default;
}

.disabled .card-cats__triangle {
  background: -o-linear-gradient(135deg, #f2f2f2, #f2f2f2 28.5px, #b3b3b3 0, #b3b3b3 32px, transparent 0);
  background: linear-gradient(-45deg, #f2f2f2, #f2f2f2 28.5px, #b3b3b3 0, #b3b3b3 32px, transparent 0);
  border-color: #b3b3b3;
}

.disabled .card-cats__slogan {
  border-color: #b3b3b3;
  color: hsla(0deg, 0%, 70%, 0.5);
}

.disabled .card-cats__main {
  border-color: #b3b3b3;
  color: hsla(0deg, 0%, 70%, 0.5);
}

.disabled .card-cats__title {
  color: hsla(0deg, 0%, 70%, 0.5);
}

.disabled .card-cats__subtitile {
  color: hsla(0deg, 0%, 70%, 0.5);
}

.disabled .card-cats__image-cat {
  opacity: 0.5;
}

.disabled .card-cats__image-circle {
  background: #b3b3b3;
}

.disabled .card-cats__txt {
  color: #ff6;
}

@media (max-width: 1199px) {
  .content-container {
    max-width: 960px;
  }

  .mobile-menu {
    display: none;
  }

  .card-cats {
    width: 300px;
  }

  .card-cats__triangle {
    width: 15.1%;
  }

  .card-cats__image-circle {
    left: 203px;
    top: 344px;
  }
}

@media (max-width: 991px) {
  html {
    height: inherit;
  }

  .content-container {
    max-width: 720px;
  }

  .card-section {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .mobile-menu {
    display: none;
  }

  .card-cats {
    margin-bottom: 42px;
  }

  .card-cats__triangle {
    width: 15.1%;
  }

  .card-cats:last-child {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .content-container {
    max-width: 540px;
  }

  .card-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .card-cats__triangle {
    width: 15.1%;
  }
}

@media (max-width: 575px) {
  html {
    height: inherit;
  }

  .content-container {
    width: 100%;
  }

  .card-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .title {
    font-size: 29px;
  }

  .card-cats {
    max-width: 280px;
    margin-bottom: 42px;
  }

  .card-cats__triangle {
    width: 16.4%;
  }

  .card-cats__slogan {
    font-size: 14px;
  }

  .card-cats__title {
    font-size: 38px;
  }

  .card-cats__subtitile {
    font-size: 21px;
  }

  .card-cats__image-circle {
    width: 55px;
    height: 55px;
    left: 206px;
    top: 359px;
  }

  .card-cats__image-circle-top {
    font-size: 21px;
    line-height: 19px;
  }
}

.webp body { background: #FFF url(../img/home/background-image/main-img.webp); }